.header {
  padding: 1rem 3rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  h1 {
    color: #008b8b;
    font-size: 700;
  }
  h3 {
    color: #f50057;
    font-weight: 600;
  }
  .logout {
    background-color: #f50057;
    padding: 0.45rem 1rem;
    border-radius: 4px;
    color: white;
    font-weight: 600;
  }
  .nav {
    .manager-details {
      font-weight: 600;
      color: #6B46C1;
      margin: .35rem 1.5rem 0 0 ;
    }
  }
}
