.login-section {
    margin-top: 10rem;
  .form-div {
    display: flex;
    width: 25rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
        color: #008B8B;
        font-weight: 700;
        margin-bottom: 2rem;
    }
    p {
        margin: 1.1rem 0 1.5rem 0;
        color: #9A98A3;
    }
    form {
      display: flex;
      flex-direction: column;
      label {
        margin-bottom: 0.75rem;
        color: #777289;
      }
      input {
        display: inline-block;
        width: 23rem;
        margin-bottom: 1.3rem;
        padding: 0.75rem;
        border: 1px solid #d8d6de;
        border-radius: 4px;
        outline: 0;
      }
      button {
        display: inline-block;
        width: 23rem;
        padding: 0.75rem 0;
        margin-top: 1rem;
        border-radius: 4px;
        border: 0;
        background-color: #7367f0;
        color: #ffffff;
        cursor: pointer;
        font-weight:bold;
        font-size: 1rem;
      }
      button:hover {
          box-shadow: 0px 2px 6px 2px #b0aaf3;
      } 
    }
  }
}
